/* Motyw jasny - domyślny */
:root {
    --title: #0f172a;
    --subtitle: #64748b;
    --darker_subtitle: #d2d2d2;
    --border_gray: rgba(148, 163, 184, 0.15);
    --inner_section_bg: #FFFFFF;
    --inner_inner_section_bg: rgba(255, 255, 255, 0.8);
    --inner_inner_inner_section_bg: rgb(249, 248, 248);
    --outer_section_bg: linear-gradient(135deg, #fdfeff 0%, #f8f9fd 50%, #f3f4f9 95%);
    --success_bg: #dcfce7;
    --success_text: #14532d;
    --info_msg_bg: #f5f3ff;
    --info_msg_text: #6d28d9;
    --file_msg_bg: rgba(139, 92, 246, 0.05);
    --user_menu_hover: #e6e6e6;
    --white_into_purple_btn_bg: linear-gradient(135deg, #fdfeff 0%, #f8f9fd 50%, #f3f4f9 95%);
    --white_into_purple_btn_text: #64748b;
    --purple_into_white_text: #8b5cf6;
    --purple_brighter: #8b5cf6;
    --purple_brighter_brighter: #8b5cf6;
    --purple_brighter_bg: #8b5cf615;
    --purple_brighter_border: #8b5cf640;
    --purple_btn_bg: linear-gradient(135deg, #8b5cf6 0%, #7c3aed 100%);
    --purple_btn_text: white;
    --purple_btn_hover: linear-gradient(135deg, #7c3aed 0%, #6d28d9 100%);
    --white_btn_bg: linear-gradient(135deg, #f8f7fe 0%, #f7f5fd 100%);
    --white_btn_text: #9e75df;
    --white_btn_hover_bg: rgba(148, 163, 184, 0.15);
    --white_btn_hover_text: #1e293b;
    --white_btn_box_shadow: rgba(139, 92, 246, 0.3);
    --select_arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23334155' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
    --select_arrow_up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23334155' d='M6 3L11 8H1z'/%3E%3C/svg%3E");
    --select_bg: white;
    --red_btn_bg: white;
    --red_btn_text: #ef4444;
    --red_btn_hover: rgba(239, 68, 68, 0.1);
    --wrong_answer_bg: rgba(248, 113, 113, 0.1);
    --wrong_answer_text: #dc2626;
    --correct_answer_bg: rgba(74, 222, 128, 0.1);
    --correct_answer_text: #15803d;
    --sidebar_section_hover_bg: rgba(139, 92, 246, 0.05);
    --sidebar_section_hover_text: #8b5cf6;
    --sidebar_notebook_hover_bg: rgba(139, 92, 246, 0.05);
    --sidebar_notebook_hover_text: #475569;
    --flashcards_section_border: #e2e8f0;
    --darker_blue: #6c63ff;
    --red_white_btn_bg: #fff5f5;
    --red_white_btn_border: #fed7d7;
    --red_white_btn_border_hover: #fc8181;
    --flashcards_green_border: #68d391;
    --flashcards_green_bg: #f0fff4;
}

/* Motyw Ciemny */ 
[data-theme="dark"] {
    --title: #FFFFFF;
    --subtitle: rgba(255, 255, 255, 0.822);
    --darker_subtitle: #90959c;
    --border_gray: rgba(255, 255, 255, 0.174);
    --inner_section_bg: linear-gradient(135deg, #2a2a35 0%, #343445 100%);
    --inner_inner_section_bg: linear-gradient(135deg, #383845 0%, #454554 100%);
    --inner_inner_inner_section_bg: linear-gradient(135deg, #4a4a58 0%, #5a5a69 100%);
    --outer_section_bg: linear-gradient(135deg, #1c1c25 0%, #262633 100%);
    --success_bg: #3a5740;
    --success_text: #a8f0c6;
    --info_msg_bg: #8a4af1;
    --info_msg_text: #f5f3ff;
    --file_msg_bg: rgba(139, 92, 246, 0.2);
    --user_menu_hover: linear-gradient(135deg, #2a2a35 0%, #343445 100%);
    --white_into_purple_btn_bg: linear-gradient(135deg, #8b5cf6 0%, #7c3aed 100%);
    --white_into_purple_btn_text: white;
    --purple_into_white_text: white;
    --purple_brighter: #ad8afc;
    --purple_brighter_brighter: #baa1f4;
    --purple_brighter_bg: #8b5cf615;
    --purple_brighter_border: #8c60f2b7;
    --purple_btn_bg: linear-gradient(135deg, #8b5cf6 0%, #7c3aed 100%);
    --purple_btn_text: white;
    --purple_btn_hover: linear-gradient(135deg, #7c3aed 0%, #6d28d9 100%);
    --white_btn_bg: linear-gradient(135deg, #2a2a35 0%, #343445 100%);
    --white_btn_text: #c4b5fd;
    --white_btn_box_shadow: rgba(100, 86, 135, 0.4);
    --white_btn_hover_bg: linear-gradient(135deg, #3c3c4a 0%, #3f3f54 100%);
    --white_btn_hover_text: #ffffff;
    --select_arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23ffffff' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
    --select_arrow_up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23ffffff' d='M6 3L11 8H1z'/%3E%3C/svg%3E");
    --select_bg: #383845;
    --red_btn_bg: linear-gradient(135deg, #ea5a74 0%, #be123c 100%);
    --red_btn_text: white;
    --red_btn_hover: linear-gradient(135deg, #fb7185 0%, #e11d48 100%);
    --wrong_answer_bg: linear-gradient(135deg, #ea5a74 0%, #be123c 100%);
    --wrong_answer_text: white;
    --correct_answer_bg: linear-gradient(135deg, #3a5740 0%, #2c4231 100%);
    --correct_answer_text: #a8f0c6;
    --sidebar_section_hover_bg: rgba(139, 92, 246, 0.10);
    --sidebar_section_hover_text: #8b5cf6;
    --sidebar_notebook_hover_bg: rgba(204, 187, 243, 0.10);
    --sidebar_notebook_hover_text: #c0c4c9;
    --flashcards_section_border: rgba(255, 255, 255, 0.174);
    --darker_blue: #9e99fe;
    --red_white_btn_bg: rgba(239, 68, 68, 0.1);
    --red_white_btn_border: rgba(239, 68, 68, 0.2);
    --red_white_btn_border_hover: rgba(239, 68, 68, 0.5);
    --flashcards_green_border: #3a5740;
    --flashcards_green_bg: rgba(58, 87, 64, 0.5);
    --flashcards_green_border_hover: rgb(85, 148, 98);
}